body  {
  background-image: url("https://newevolutiondesigns.com/images/freebies/nature-hd-background-4.jpg");
  background-color: #cccccc;
}
div {
  border: 1px solid black;
  padding: 25px;
  background-color: white;


